# Ignore all files and directories by default
*

# Allow tracking of this config file itself
!.gitignore
!README.md

# Allow tracking of all scripts
!*.md
!*.py
!*.tex
!*.cls
!*.sty

# If your scripts are inside a subfolder, uncomment the line below to grant access:
#!src/
!examples/
!examples/*.pdf
